<div class="welcome"><h1>Welcome <%= @user.username %></h1></div>

<h3>Your published articles</h3>
<% if @articles %>
  <ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      Created <%= time_ago_in_words(article.created_at) %> ago.
    </li>
  <% end %>
  </ul>
<% end %>

<h3>Your drafts</h3>
    <% @drafts.each do |draft| %>
      <div class="draft-info">
        <button>Resume Draft</button>
        <span class="title"><%= draft.article.title %></span>
        <span class="details">
          Created <%= time_ago_in_words(draft.created_at) %> ago.
        </span>
      </div>
    <% end %>

