<div class="welcome"><h1>Welcome <%= @user.username %></h1></div>

<% if @user.admin %>
<h3>Articles that have been reported nasty </h3>
<% if @flagged_articles %>
  <ul>
    <% @flagged_articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article) %>
      </li>
      <% end %>
    </ul>
    <% end %>
<% end %>

<h3>Your published articles</h3>
<% if @articles %>
  <ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
      Created <%= time_ago_in_words(article.created_at) %> ago.
    </li>
  <% end %>
  </ul>
<% end %>

<h3>Your drafts</h3>

    <% @drafts.each do |draft| %>
      <% if draft %>
      <div class="draft-info">
        <span class="btn"><%= link_to "Resume Draft", edit_article_version_path(article_id: draft.article.id, id: draft.id)%></span>
        <span class="title"><%= link_to draft.article.title, article_path(draft.article) %></span>
        <span class="details">
          Created <%= time_ago_in_words(draft.created_at) %> ago.
        </span>
      </div>
      <% end %>
    <% end %>


